global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    static_configs:
      - targets: ['node-exporter:9100']

  - job_name: 'sleepcore-api'
    metrics_path: /health
    static_configs:
      - targets: ['api:3001']

  - job_name: 'sleepcore-bot'
    metrics_path: /health
    static_configs:
      - targets: ['bot:3001']
